.title {
    font-family: 'News Cycle', sans-serif;
    font-size: 50pt;
}
.subtitle {
    font-family: 'News Cycle', sans-serif;
}

.menu-list {
    font-family: 'News Cycle', sans-serif;
}

.card-header {
    font-family: 'News Cycle', sans-serif;
}

.contant {
    font-family: 'Oxygen', sans-serif;
}